{{#if posts}}
  <!-- Create blog posts with cards -->

  <div class="row">
    <div class="col s12 m12">
      {{#each posts as |post|}}
      {{> post-cards}}
      {{/each}}
    </div>
  </div>

{{else}}

{{/if}}