<div class="page-title">
  <h4>Create a New Account</h4>
  <h5>Fill out all the fields below and create your account.</h5>
  <br />
  {{#if errorMessage}}
    <h5 class="user-alert">{{errorMessage}}</h5>
  {{/if}}
</div>

<div class="row">
  <form class="col s12">

    <div class="row">
      <div class="input-field col s12">
        <input id="create-username" type="text" name="username" />
        <label for="create-username">Username</label>
        <span class="helper-text" id="create-username-error"></span>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input id="create-email" type="email" class="validate" name="email" />
        <label for="create-email">Email</label>
        <span class="helper-text" id="create-email-error"></span>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input
          id="create-password"
          type="password"
          class="validate"
          name="password"
        />
        <label for="create-password">Password</label>
        <span class="helper-text" id="create-password-error"></span>
      </div>
    </div>

    <button
      class="every-btn waves-effect waves-light btn-large right"
      id="create-account-submit"
    >
      <i class="material-icons left">create</i>Create New Account
    </button>

  </form>
</div>