/* Color palette sourced from https://colorhunt.co/palette/3c486bf0f0f0f9d949f45050 */

:root {
  --navy: #3c486b;
  --grey: #f0f0f0;
  --yellow: #f9d949;
  --yellow-light: #f8e48a;
  --red: #f45050;
  --yellow-press: #f09c53;
}

.bolder {
  font-weight: bold;
}

body {
  background-color: var(--grey);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.nav-extended {
  background-color: var(--navy);
  .dropdown-content {
    background-color: var(--grey);
  }
  .dropdown-content li a {
    color: var(--navy);
  }
}

nav li a:hover {
  background-color: var(--yellow) !important;
}

/* Adjust the size of the logo image */
#navbar-logo img {
  height: 100px;
  margin-top: -22px;
}

#footer-logo img {
  height: 200px;
  margin-top: -30px;
}

main {
  margin: 0 14% auto;
  flex: 1 0 auto;
}

.page-title {
  color: var(--navy);
  margin: 1rem;
}

.helper-text {
  color: var(--red) !important;
}

.user-alert {
  color: var(--red);
}

.collection-item {
  border: 3px solid var(--red);
  border-radius: 5px;
  .title {
    color: var(--navy);
    background-color: var(--red);
  }
  .secondary-content {
    color: var(--navy);
  }
  .extended-content {
    display: none;
    /* background-color: var(--yellow);
    border: 1px solid var(--navy);
    border-radius: 5px;
    color: var(--navy);
    padding: 10px; */
  }
}

.card {
  background-color: var(--navy);
  /* border: 3px solid var(--yellow); */
  .card-title {
    color: var(--yellow);
  }
  .post-title {
    color: var(--yellow);
  }
  .card-content {
    color: var(--grey);
  }
  .card-action {
    background-color: var(--grey);
    /* border-top: 3px solid var(--red); */
  }

  .card-action:hover {
    background-color: var(--yellow-light);
  }
  .collapsible-header {
    background-color: var(--grey);
    color: var(--navy);
    border: 3px solid var(--yellow);
  }
  .badge {
    color: var(--navy);
  }
  .new.badge {
    background-color: var(--red);
    color: var(--grey);
  }
  .collapsible-body {
    background-color: var(--grey);
    color: var(--navy);
    border: 3px solid var(--yellow);
  }
}

/* Styling of buttons  */
.every-btn {
  background-color: var(--red);
  color: var(--grey);
  text-transform: capitalize !important;
}
.every-btn:hover {
  background-color: var(--yellow);
  color: var(--grey);
}
.every-btn:active {
  background-color: var(--yellow-press);
  color: var(--grey);
}

.btn-floating {
  margin-top: -1.5rem;
}

.btn-large {
  margin: 0.5rem;
  font-size: 1.5rem;
}

.create-btn {
  margin-right: 1.5ram;
  margin-bottom: 1.5ram;
}

.page-footer {
  background-color: var(--navy);
  color: var(--grey);
  padding: 20px;
  text-align: center;
}

/* Other stylings */

.custom-hidden {
  display: none;
}
